<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>BUILT IN FILTERS </h1>
    </center>
    <ol>
<li>
    <h1>{{data}}</h1></li>
   <li><h1>{{data|lower}}</h1></li>
   <li><h1>{{data|upper}}</h1></li>
   <li><h1>{{data|title}}</h1></li>
   <li><h1>{{data|length}}</h1></li>
   <li><h1>{{data|capfirst}}</h1></li>
   <li><h1>{{data|slice:'5'}}</h1></li>
   <li><h1>{{data|truncatewords:'3'}}</h1></li>
   <li><h1>{{data|truncatechars:'3'}}</h1></li>
   <li><h1>{{t}}</h1></li>


</li>
</ol>

</body>
</html>